<%- include templates/header %>
<%- include templates/searchbar%>
<%- include templates/sizeSelector%>

<% if(searchPhrase){%>
    <div class="userMsg">Showing search results for: "<%=searchPhrase%>"</div>
    <% } %>
    <% if (files.length===0){%>
        <div class="userMsg"> No images found...</div>
  <% } %>
  
<div class="gallery">
    <%- include templates/photos %>
</div>

<div class="paging">
<% if(includePrev){ %>
    <%- include templates/previous %>
 <% } %>  

<% if( !(files.length < picsPerPage )) {%>
    <%- include templates/next %>
 <% } %>  
</div>


<%include templates/footer %>